body{
    font-family: 'Bebas Neue', cursive;
    background-color: white;
}

/* 1st part ( top) */

.blog h1{
    color: white;
    font-size: 70px;
}
.blog p{
    color: white;
    
}
main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.container{
    background-color: black;
    width: 1100px;
    border-radius: 20px;
    
}
.blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;

}
.header{
    margin-left: 50px;
}
.blog .banner-top img{
    width: 455px;
}

.info p{
    margin-bottom: 40px;
    
}
.fa-angles-right.icon{
    color: white;
    margin-left: 15px;
}
.watch{
    display: flex;
    align-items: baseline;
    background-color: rgb(228, 6, 6);
    border-radius: 5px;
    width: 130px;
    height: 50px; 
}
    #button{
        margin-left: 15px;
    }