body{
    font-family: 'Bebas Neue', cursive;
    background-color: aliceblue;
}

/* 1st part ( top) */

.blog h1{
    color: rgb(205, 16, 16);
    font-size: 50px;
}
.blog p{
    color: rgb(79, 5, 5);
    
}
main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.container{
    background-color: white;
    width: 1100px;
    border-radius: 20px;
    
}
.blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog .banner-top img{
    width: 350px;
}
.info a{
    text-decoration: none;
    background-color: darkorange;
    padding: 15px; 
    border-radius: 10px;
}
.info p{
    margin-bottom: 40px;
}
